$primary: #3498db;
.table-wrapper {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.4s ease-in-out;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: $primary;
    color: white;
  }

  tr.changed {
    background-color: #ffe6e6; // đỏ nhạt
    border-left: 4px solid red;
  }
  .adjusted-row {
    background-color: #fdf0b9; // vàng nhạt
  }
}

.table-wrapper.slide-up {
  opacity: 1;
  transform: translateY(0);
}
